In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\visha\OneDrive\Desktop\iris.csv")

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
setosa=[]
virginica=[]
versicolor=[]

In [11]:
for i in df['species']:
   if i=='setosa':
        setosa.append(1)
        virginica.append(0)
        versicolor.append(0)
   elif i=='virginica':
        setosa.append(0)
        virginica.append(1)
        versicolor.append(0)
   elif i=='versicolor':
        setosa.append(0)
        virginica.append(0)
        versicolor.append(1)

In [12]:
df['setosa']=setosa
df['virginica']=virginica
df['versicolor']=versicolor

In [13]:
df=df.drop('species',axis=1)

In [14]:
df.head()

,sepal_length,sepal_width,petal_length,petal_width,setosa,virginica,versicolor
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

In [16]:
from sklearn.model_selection import train_test_split
import numpy as np

In [17]:
X=df[['sepal_length','sepal_width','petal_length','petal_width']].values
y=df[['setosa','virginica','versicolor']].values

In [18]:
X,X_test,y,y_test=train_test_split(X,y,test_size=0.1,random_state=50)

In [19]:
X_train,X_cv,y_train,y_cv=train_test_split(X,y,test_size=0.1,random_state=50)

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.multiclass import OneVsRestClassifier

In [58]:
est=RandomForestClassifier(n_estimators=100)
clf=OneVsRestClassifier(est)

In [61]:
clf.fit(X_train,y_train)
print(clf.score(X_train,y_train))

0.9917355371900827

In [62]:
clf.score(X_cv,y_cv)

0.9285714285714286

In [55]:
clf.score(X_test,y_test)

0.8666666666666667

In [34]:
from sklearn.neural_network import MLPClassifier

In [59]:
est=MLPClassifier(hidden_layer_sizes=(1000,),max_iter=100000)

In [60]:
clf=OneVsRestClassifier(est)