In [1]:
import pandas as pd

In [3]:
train=pd.read_csv(r"C:\Users\visha\Downloads\train_u6lujuX_CVtuZ9i.csv")

In [6]:
train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
train=train.drop('Loan_ID',axis=1)

In [67]:
X=train.select_dtypes(include=['object'])

In [75]:
train['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [51]:
Xcolumns=['male','female','married','unmarried','1dependent','2dependent','Graduate','Not_Graduate',''
print(Xcolumns)

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'Property_Area', 'Loan_Status'],
      dtype='object')

In [14]:
import numpy as np

In [17]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
encoder=OneHotEncoder()
impute=SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [68]:
X=impute.fit_transform(X)

In [69]:
encoder.fit(X)
X=encoder.transform(X)

In [70]:
X

<614x17 sparse matrix of type '<class 'numpy.float64'>'
	with 4298 stored elements in Compressed Sparse Row format>

In [29]:
train.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [61]:
X1=train.select_dtypes(include=['int64','float64'])
X1columns=X1.columns

In [32]:
impute2=SimpleImputer()

In [62]:
X1=impute2.fit_transform(X1)

In [63]:
X1

array([[5.84900000e+03, 0.00000000e+00, 1.46412162e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.58300000e+03, 1.50800000e+03, 1.28000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.00000000e+03, 0.00000000e+00, 6.60000000e+01, 3.60000000e+02,
        1.00000000e+00],
       ...,
       [8.07200000e+03, 2.40000000e+02, 2.53000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [7.58300000e+03, 0.00000000e+00, 1.87000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.58300000e+03, 0.00000000e+00, 1.33000000e+02, 3.60000000e+02,
        0.00000000e+00]])

In [35]:
from sklearn.preprocessing import StandardScaler

In [64]:
scaler=StandardScaler()
X1=scaler.fit_transform(X1)

In [71]:
X=X.todense()

In [72]:
X

matrix([[0., 1., 1., ..., 1., 0., 1.],
        [0., 1., 0., ..., 0., 1., 0.],
        [0., 1., 0., ..., 1., 0., 1.],
        ...,
        [0., 1., 0., ..., 1., 0., 1.],
        [0., 1., 0., ..., 1., 0., 1.],
        [1., 0., 1., ..., 0., 1., 0.]])

In [42]:
len(X)

614

In [43]:
len(X1)

614

In [73]:
print(X.shape)
print(X1.shape)

(614, 17)
(614, 5)

In [47]:
X=np.stack((X,X1))

ValueError: all input arrays must have the same shape

In [76]:
newt=pd.DataFrame(X)

In [77]:
newt.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
3,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0

In [65]:
newt1=pd.DataFrame(X1)
newt1.columns=X1columns

In [66]:
newt1.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0.072991,-0.554487,0.000000,0.279851,0.45164
1,-0.134412,-0.038732,-0.219273,0.279851,0.45164
2,-0.393747,-0.554487,-0.957641,0.279851,0.45164
3,-0.462062,0.251980,-0.314547,0.279851,0.45164
4,0.097728,-0.554487,-0.064454,0.279851,0.45164

In [79]:
X=pd.concat([newt,newt1])

C:\Users\visha\Anaconda3\lib\site-packages\pandas\core\indexes\range.py:465: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  return self._int64index.union(other)

In [80]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
3,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
4,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN