In [1]:
import pandas as pd

In [142]:
train=pd.read_csv(r'C:\Users\visha\OneDrive\Desktop\train.csv')

In [105]:
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [106]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked        object
dtype: object

In [6]:
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [119]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
male           891 non-null int64
female         891 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 76.6+ KB

In [59]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [143]:
train['Embarked']=train['Embarked'].fillna('S')

In [103]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            891 non-null object
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null object
dtypes: float64(1), int64(5), object(3)
memory usage: 62.7+ KB

In [144]:
train['Age']=train['Age'].fillna(29.699118)

In [145]:
male=[]
female=[]
for i in train['Sex']:
 if i=='male':
   male.append(1)
   female.append(0)
 elif i=='female':
    male.append(0)
    female.append(1)

In [146]:
for i in range(0,891):
   if(male[i]+female[i]!=1):
     print('damn')

In [147]:
train['male']=male
train['female']=female

In [148]:
S=[]
C=[]
Q=[]
for i in train['Embarked']:
  if i=='S':
    S.append(1)
    C.append(0)
    Q.append(0)
  elif i=='C':
    S.append(0)
    C.append(1)
    Q.append(0)
  elif i=='Q':
    S.append(0)
    C.append(0)
    Q.append(1)

In [149]:
len(S)

891

In [150]:
train['S']=S
train['C']=C
train['Q']=Q

In [151]:
test=pd.read_csv(r'C:\Users\visha\OneDrive\Desktop\test.csv')

In [152]:
test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [81]:
age=train['Age'].values
fare=train['Fare'].values

In [78]:
from sklearn.preprocessing import StandardScaler

In [79]:
scaler1=StandardScaler()
scaler2=StandardScaler()

In [110]:
train.std()

PassengerId    257.353842
Survived         0.486592
Pclass           0.836071
Age             14.526497
SibSp            1.102743
Parch            0.806057
Fare            49.693429
dtype: float64

In [108]:
train.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

train.dtypes

In [153]:
train['Age']=(train['Age']-29.699118)/14.526497

In [154]:
train['Fare']=(train['Fare']-32.204208)/49.693429

In [155]:
test['Embarked']=test['Embarked'].fillna('S')

In [156]:
test['Age']=test['Age'].fillna(29.699118)

In [157]:
test['Age']=(test['Age']-29.699118)/14.526497

In [158]:
test['Fare']=(test['Fare']-32.204208)/49.693429

In [159]:
test.head()

   PassengerId  Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0          892       3    male  0.330491      0      0 -0.490508        Q
1          893       3  female  1.190988      1      0 -0.507194        S
2          894       2    male  2.223584      0      0 -0.453112        Q
3          895       3    male -0.185807      0      0 -0.473739        S
4          896       3  female -0.530005      1      1 -0.400792        S

In [160]:
male=[]
female=[]
for i in test['Sex']:
 if i=='male':
   male.append(1)
   female.append(0)
 elif i=='female':
    male.append(0)
    female.append(1)

In [161]:
S=[]
C=[]
Q=[]
for i in test['Embarked']:
  if i=='S':
    S.append(1)
    C.append(0)
    Q.append(0)
  elif i=='C':
    S.append(0)
    C.append(1)
    Q.append(0)
  elif i=='Q':
    S.append(0)
    C.append(0)
    Q.append(1)

In [162]:
test['S']=S
test['C']=C
test['Q']=Q
test['male']=male
test['female']=female

In [163]:
test.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,S,C,Q,male,female
0,892,3,male,0.330491,0,0,-0.490508,Q,0,0,1,1,0
1,893,3,female,1.190988,1,0,-0.507194,S,1,0,0,0,1
2,894,2,male,2.223584,0,0,-0.453112,Q,0,0,1,1,0
3,895,3,male,-0.185807,0,0,-0.473739,S,1,0,0,1,0
4,896,3,female,-0.530005,1,1,-0.400792,S,1,0,0,0,1

In [164]:
train=train.drop(["Sex","Embarked"],axis=1)
test=test.drop(["Sex","Embarked"],axis=1)

In [166]:
print(train.head())
print(test.head())

   PassengerId  Survived  Pclass       Age  SibSp  Parch      Fare  male  \
0            1         0       3 -0.530005      1      0 -0.502163     1
1            2         1       1  0.571430      1      0  0.786404     0
2            3         1       3 -0.254646      0      0 -0.488580     0
3            4         1       1  0.364911      1      0  0.420494     0
4            5         0       3  0.364911      0      0 -0.486064     1

   female  S  C  Q
0       0  1  0  0
1       1  0  1  0
2       1  1  0  0
3       1  1  0  0
4       0  1  0  0
   PassengerId  Pclass       Age  SibSp  Parch      Fare  S  C  Q  male  \
0          892       3  0.330491      0      0 -0.490508  0  0  1     1
1          893       3  1.190988      1      0 -0.507194  1  0  0     0
2          894       2  2.223584      0      0 -0.453112  0  0  1     1
3          895       3 -0.185807      0      0 -0.473739  1  0  0     1
4          896       3 -0.530005      1      1 -0.400792  1  0  0     0

   female
0       0
1       1
2       0
3       0
4       1

In [167]:
y_train=train['Survived'].values
train=train.drop('Survived',axis=1)

In [169]:
X_train=train.values

In [171]:
X_test=test.values

In [175]:
from sklearn.linear_model import LogisticRegression

In [178]:
from sklearn import svm

In [194]:
clf1=svm.SVC()
clf1.fit(X_train,y_train)

C:\Users\visha\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [188]:
clf1.score()

0.898989898989899

In [195]:
param_grid=[{'kernel':['linear','rbf','poly'],'C':[0.01,0.03,0.1,0.3,1,3,10]}]

In [190]:
from sklearn.model_selection import GridSearchCV

In [196]:
grid=GridSearchCV(clf1,param_grid)

In [ ]:
print('hello')